<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Spis połączeń telefonicznych</title>
    <meta name="description" content="Serwis poświęcony spisywaniu przychodzących połączeń telefonicznych" />
    <meta name="keywords" content="telefon, połączenie, spis, zapis połączeń, numer" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="~/Content/Logowanie.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>



</head>

<body>

    <div id="container">

        <div id="logo">
            Spis  połączeń  telefonicznych
        </div>

        <div id="menu_Logowanie">
         Nie masz konta? Skontatkuj się z administratorem!
             
        </div>

    

        <div id="content_Logowanie">
            <div id="okno_logowania">
                <form>                  
                    
                    <input type="text" placeholder="login">                                     
                    <input type="password" placeholder="hasło">

                    <input type="submit" value="Zaloguj się">

                </form>
            </div>
            

        </div>

        <div id="footer">
            Spis połączeń telefonicznych dla firm. Strona w sieci od 2017r. &copy; Wszelkie prawa zastrzeżone
        </div>










    </div>

</body>





</html>
