<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Spis połączeń telefonicznych</title>
    <meta name="description" content="Serwis poświęcony spisywaniu przychodzących połączeń telefonicznych"/>
    <meta name="keywords" content="telefon, połączenie, spis, zapis połączeń, numer"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="~/Content/Widok.css" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>



</head>

<body>

<div id="container">

<div id="logo">
Spis  połączeń  telefonicznych
</div>

<div id="menu">
    <div class="option"> Twoje połączenia </div> 
    <div class="option"> Dodaj połączenie </div>
    <div class="option"> Pomoc </div> 
    <div class="logged">Zaloguj się</div>
    <div style="clear:both;"></div>
</div>

<div id="sidebar">
    <div class="optionL"> Najnowsze </div>
    <div class="optionL"> Najstarsze </div>
    <div class="optionL"> Tylko do Cieibe </div> 
    <div class="optionL"> Odebrane </div>
    <div class="optionL"> Wykonane </div>
    <div class="optionL"> W trakcie </div>

    
</div>

<div id="content">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra quis justo eu consectetur. Donec dapibus ultrices neque, nec viverra turpis faucibus sit amet. Morbi a leo nulla. Fusce commodo vulputate est placerat varius. Vivamus laoreet sit amet odio eget egestas. In in urna dignissim, consectetur orci in, porta nisi. Quisque suscipit fringilla ligula, id elementum quam dapibus non. Sed nec efficitur nunc, in pellentesque tellus. Sed fringilla dictum cursus. Suspendisse potenti.
    <br /><br />
    Nulla dolor neque, gravida vitae posuere sit amet, facilisis vel ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eleifend est a pretium interdum. In ornare lobortis lobortis. Sed tempor sodales viverra. Suspendisse id ullamcorper felis, in finibus erat. Sed at turpis maximus, tristique urna sollicitudin, vulputate urna. In ut mollis ipsum, ut volutpat magna. In hac habitasse platea dictumst. Etiam blandit felis nec semper pellentesque. Mauris posuere viverra tellus ac cursus. Nullam congue neque ut mi mattis dapibus. Nam egestas rhoncus magna eu aliquet. Nulla et posuere sem.
    <br /><br />
    Nullam sagittis pulvinar magna a porttitor. Duis dignissim ex arcu, consectetur venenatis arcu consectetur ac. Nullam in feugiat lorem. Integer varius varius nibh. Mauris malesuada iaculis lacus et tempor. Pellentesque ut odio at diam tempor feugiat. Integer scelerisque commodo ex eu fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

</div>

<div id="footer">
    Spis połączeń telefonicznych dla firm. Strona w sieci od 2017r. &copy; Wszelkie prawa zastrzeżone
</div>










</div>

</body>
 
 

 

</html>
 